<section>
    <div class="title">
        <h1>CONTACT</h1>
    </div>
    <div class="hr"></div>
    <div class="form">
        <div class="child1">
            <input placeholder="Name" type="text">
            <input placeholder="Email" type="text">
            <input placeholder="Subject" type="text">
        </div>
        <div class="child2">
            <textarea placeholder="Message" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="btn1">
        <button>Submit</button>
    </div>
    <div class="info">
        <div class="img">
            <img [src]="img" alt="">
        </div>
        <div class="title1">
            <p>I'm a title.Click here to edit me.</p>
        </div>
        <div class="txt">
            <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click “Edit Text” or double click me to add your own <br> content and make changes to the font. I'm a great place for you to tell a story and let your users know a little more about you.</p>
        </div>  
        <div class="sakontakto">
            <p>Phone:123-456-7890   /   Email:info@mysite.com</p>
        </div>
        <div class="aboutus">
            <p routerLink="/About">Read About Us></p>
        </div>
        <div class="btn">
            <button routerLink="/Products">SHOP NOW></button>
        </div>
    </div>
</section>
